/*--------------------------------------
animation 
--------------------------------------*/

/* -------------------------------------
=> loading
=> image show
--------------------------------------*/

/*-- Import CSS --*/

@import url(style.css);
@import url(hover.css);
@import url(3d_design.css);


/*--------------------------------------
loading 
--------------------------------------*/

.loading {
  display: none;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50vh;
    z-index: 10;
    background-color: var(--tc);
}

.loading div {
    position: absolute;
    transform-origin: center;
    border: 1px solid white;
    border-radius: 100%;
    content: "";
}

/*--------------------------------------
image show (rotating image)
--------------------------------------*/
.animation {
  display: flex;
  padding-top: 20px;
  padding-bottom: 50px;
  overflow: hidden;
  background-color: var(--bs);
  min-height: 100vh;
  justify-content: center;
  align-items: center;
} 

.box {
  position: absolute;
  width: 200px;
  height: 200px;
  transform-style: preserve-3d;
  transform: perspective(1000px);
  animation: animate 100s linear infinite 10s;
}


@keyframes animate {
  0% {
    transform:perspective(1000px) rotateY(0deg);
  }  
  100% {
    transform:perspective(1000px) rotateY(360deg);
  }  
}

.box span img {
  position: absolute;
  max-width: 150px;
  object-fit: cover;
}

.box span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-origin: center;
  transform-style: preserve-3d;
  transform: rotateY(calc(var(--i) * 45deg)) translateZ(400px);
}

